$primary-test-colour: red;

div {
    color: $primary-test-colour;
    p {
        color: blueviolet;
    }
}

.container {
    .row {
        .col {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            div {
                flex: 1 1 100%;
            }
            .title {
                font-size: 40px;
            }
        }
    }
}